################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Selenium-Test_Automation/FileContentIndex/0cf8175a-bb0f-40f1-9b2d-fddfb50cc03e.vsidx
/.vs/Selenium-Test_Automation/FileContentIndex/2d6f9189-c891-4a4f-9c28-b0676c81f1f3.vsidx
/.vs/Selenium-Test_Automation/FileContentIndex/4034b8d3-537e-4bd9-8801-be0b44f5757a.vsidx
/.vs/Selenium-Test_Automation/FileContentIndex/744f6927-aa40-4693-a07c-28159343f7bb.vsidx
/.vs/Selenium-Test_Automation/FileContentIndex/8bdaec6e-d4d8-44e0-82ef-7f7789eeedb1.vsidx
/.vs/Selenium-Test_Automation/FileContentIndex/90a94f95-6f0b-4bcb-a4e5-e3451575c526.vsidx
/.vs/Selenium-Test_Automation/FileContentIndex/ac94c50c-4644-463d-8733-731d6c393da6.vsidx
/.vs/Selenium-Test_Automation/FileContentIndex/bdeeff99-e950-46cc-afbf-70b26a2f4d58.vsidx
/.vs/Selenium-Test_Automation/v17/.suo
/.vs/Selenium-Test_Automation/v17/DocumentLayout.json
/.vs/Selenium-Test_Automation/v17/TestStore/0/002.testlog
/Selenium-XUnit-CSharp/bin/Debug/net8.0/Selenium-XUnit-CSharp.dll
/Selenium-XUnit-CSharp/bin/Debug/net8.0/Selenium-XUnit-CSharp.pdb
/Selenium-XUnit-CSharp/bin/Debug/net8.0/Test-Framework.dll
/Selenium-XUnit-CSharp/bin/Debug/net8.0/Test-Framework.pdb
/Selenium-XUnit-CSharp/obj/Debug/net8.0/ref/Selenium-XUnit-CSharp.dll
/Selenium-XUnit-CSharp/obj/Debug/net8.0/refint/Selenium-XUnit-CSharp.dll
/Selenium-XUnit-CSharp/obj/Debug/net8.0/Selenium-XUnit-CSharp.AssemblyInfo.cs
/Selenium-XUnit-CSharp/obj/Debug/net8.0/Selenium-XUnit-CSharp.AssemblyInfoInputs.cache
/Selenium-XUnit-CSharp/obj/Debug/net8.0/Selenium-XUnit-CSharp.csproj.AssemblyReference.cache
/Selenium-XUnit-CSharp/obj/Debug/net8.0/Selenium-XUnit-CSharp.dll
/Selenium-XUnit-CSharp/obj/Debug/net8.0/Selenium-XUnit-CSharp.pdb
/Selenium-XUnit-CSharp/obj/Debug/net8.0/Selenium-XUnit-CSharp.sourcelink.json
/Selenium-XUnit-Specflow/bin/Debug/net7.0/appsettings.json
/Selenium-XUnit-Specflow/bin/Debug/net7.0/Selenium_XUnit_Specflow.dll
/Selenium-XUnit-Specflow/bin/Debug/net7.0/Selenium_XUnit_Specflow.pdb
/Selenium-XUnit-Specflow/bin/Debug/net7.0/Test-Framework.dll
/Selenium-XUnit-Specflow/bin/Debug/net7.0/Test-Framework.pdb
/Selenium-XUnit-Specflow/bin/Debug/net7.0/TestExecution.json
/Selenium-XUnit-Specflow/obj/Debug/net7.0/ref/Selenium_XUnit_Specflow.dll
/Selenium-XUnit-Specflow/obj/Debug/net7.0/refint/Selenium_XUnit_Specflow.dll
/Selenium-XUnit-Specflow/obj/Debug/net7.0/Selenium_XUnit_Specflow.AssemblyInfo.cs
/Selenium-XUnit-Specflow/obj/Debug/net7.0/Selenium_XUnit_Specflow.AssemblyInfoInputs.cache
/Selenium-XUnit-Specflow/obj/Debug/net7.0/Selenium_XUnit_Specflow.csproj.AssemblyReference.cache
/Selenium-XUnit-Specflow/obj/Debug/net7.0/Selenium_XUnit_Specflow.dll
/Selenium-XUnit-Specflow/obj/Debug/net7.0/Selenium_XUnit_Specflow.pdb
/Selenium-XUnit-Specflow/obj/Debug/net7.0/Selenium_XUnit_Specflow.sourcelink.json
/Test-Framework/bin/Debug/net7.0/Test-Framework.dll
/Test-Framework/bin/Debug/net7.0/Test-Framework.pdb
/Test-Framework/obj/Debug/net7.0/refint/Test-Framework.dll
/Test-Framework/obj/Debug/net7.0/Test-Framework.AssemblyInfo.cs
/Test-Framework/obj/Debug/net7.0/Test-Framework.AssemblyInfoInputs.cache
/Test-Framework/obj/Debug/net7.0/Test-Framework.dll
/Test-Framework/obj/Debug/net7.0/Test-Framework.pdb
/Test-Framework/obj/Debug/net7.0/Test-Framework.sourcelink.json
/Test-Framework/obj/Debug/net7.0/ref/Test-Framework.dll
